[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pdf2doc = {editable = true, path = "."}
pyinstaller = "*"

[packages]
pypdf2 = "*"
reportlab = "*"
click = "*"
crayons = "*"
send2trash = "*"

[requires]
python_version = "3.8"
